/*----------DEFAULT-STYLE----------*/

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 1s all ease;
}

body {
    background-image: url(/assets/img/BG.gif);
    background-size: cover;
    background-position: top center; 
}

/*-----CHOOSE-CHARACTER-STYLE------*/

.choose-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 97vh;
}

.choose-desc {
    background-color: white;
    border-radius: 10px;
    margin-bottom: 60px;
}

.choose-desc p {
    text-align: center;
    padding: 10px 20px;
    font-weight: bolder;
    color: #333;
}

.choose-name {
    color: white;
    margin-bottom: 10px;
}

.choose-char {
    display: flex;
    justify-content: center;
    align-items: center;
}

.choose-monster, .choose-hero {
    flex: 1;
}

.choose-hero {
    margin-right: 30px;
}

.choose-image {
    background-color: #33333328;
    border: 1px solid #333;
    padding: 0px 5px 25px 5px;
    border-radius: 20px;
    margin-bottom: 10px;
}

.choose-name {
    text-align: center;
    padding: 10px 50px;
    border-radius: 10px;
    background-color: #333;
}

/*--------FIGHT-AREA-STYLE--------*/

.fight-container {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 97vh;
}

.fight-display {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fight-area {
    display: flex;
}

#char, #monster {
    flex: 1;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.life-bar {
    height: 10px;
    width: 200px;

    border: 1px solid rgb(99, 99, 99);
    border-radius: 10px;
    background-color: white;
}

.life-bar .bar {
    height: inherit;
    width: 0%;
    border-radius: 5px;
    background-color: red;
}

.name {
    color: white;
    margin-bottom: 10px;
}

.image {
    height: 300px;
}

.image img {
    width: 300px;
    height: 300px;
}

.hero, .monster {
    transform: scaleX(-1);
}

.button {
    margin-top: 30px;
}

.button button {
    width: 250px;
    height: 35px;
    border: 0;
    cursor: pointer;
    border-radius: 20px;
    background-color: white;
    box-shadow: 2px 1px 20px 0px #383838;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

.button button p {
    padding: 10px;
}

.button button:hover {
    color: white;
    background-color: #858585;
}

.log-area ul li {
    list-style-type: none;
}

.log {
    padding: 0;
}

.log-area {
    width: 100%;
    height: 150px;
    margin-top: 20px;
    background-color: white;
    
    border: 1px solid lightgray;
    overflow-y: scroll;

    display: flex;
    align-items: center;
    justify-content: center;
}

.log-area::-webkit-scrollbar {
    width: 5px; 
}

.log-area::-webkit-scrollbar-track {
    background: #999;        /* color of the tracking area */
}

.log-area::-webkit-scrollbar-thumb {
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid #333;  /* creates padding around scroll thumb */
}
 